*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: #e6e6e6;
}

/* Seção "Cabeçalho" */

header{
    padding: 16px 0;
    background: linear-gradient(to right, #ee0979, #ff6a00);
    color: #ecf0f1;
    margin-bottom: 15px;
}

#home{
    color: #ecf0f1;
    text-decoration: none;
    font-size: 2em;
}

header h1, section h2, a{
    font-family: "Oswald", sans-serif;
    font-weight: normal;
}

header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a{
    color: #ecf0f1;
    text-decoration: none;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img{
    height: 100px;
}

/*Seção Articles*/

#articles{
    min-height: 779px;
}

#articles .container{
    display: flex;
    flex-wrap: wrap;
}

#articles .container img{
    width: 1240px;
}

#articles .posts{
    width: 1280px;
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

#articles span{
    font-size: 0.8em;
}

#articles .posts h2{
    color: #ee0979;
}

#articles .posts a{
    text-decoration: none;
    color: #ee0979;
}

#articles .posts a:hover{
    text-decoration: underline;
}

/*Página Contato*/

#articles .contact-container{
    display: flex;
    justify-content: center;
}

#articles .contact-posts{
    width: 660px;
    padding: 20px;
    background: white;
    margin-top: 140px;
}


#articles .contact-posts h2{
    color: #ee0979;
}

#articles .contact-posts a{
    text-decoration: none;
    color: #ee0979;
}

#articles .contact-posts a:hover{
    text-decoration: underline;
}


form{
    margin-top: 20px;
}

form input,
form textarea,
form button{
    display: block;
    width: 100%;
    margin-bottom: 8px;
    padding: 8px;
}

form button{
    background-color: #ee0979;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

input:focus, textarea:focus{
    outline-color: #ee0979;
}

form button:hover{
    background-color: #ff6a00;
}

form textarea{
    resize: none;
    height: 180px;
}

/*Rodapé*/

footer{
    background: linear-gradient(to left, #ee0979, #ff6a00);
    padding: 16px 0;
    color: white;
}

#contact-footer{}